<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="stylesheet" href="~/css/main.css" />
<noscript><link rel="stylesheet" href="~/css/noscript.css" /></noscript>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.26/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.26/js/jquery.dataTables.js"></script>
<!-- Wrapper -->
<div id="wrapper" class="fade-in">
<!-- Header -->
<header id="header">
</header>
<!-- Nav -->
<nav id="nav">
    <ul class="links">
        <li>
            <a asp-area="" asp-controller="Home" asp-action="Index">Bosh sahifa</a>
        </li>
        <li>
            <a asp-area="" asp-controller="Home" asp-action="GetAllWordsForUser">So'zlar jadvali</a>
        </li>
        <li>
            <a class="active" asp-area="" asp-controller="Home" asp-action="LoyihaHaqida">Loyiha haqida</a>
        </li>
        <li>
            <a asp-area="" asp-controller="Home" asp-action="PostUser">Aloqa</a>
        </li>
    </ul>
</nav>

<section id="main">
    <div class="container-md">
        <div class="p-3 bg-white">
            <article class="box post">
                <header>
                    <h2>Loyiha haqida</h2>
                    <p style="width: 100%; align-items: center;margin: auto;display: inline;">Loyihaning va uning mualliflari haqida</p>
                </header>
                <p style="text-align: center;">(Boysun tumanida istiqomat qiluvchi aholi shevasi misolida)</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Ushbu &ldquo;Onlayn shevalar bazasi (Boysun shevasi misolida)&rdquo; loyihasi Termiz davlat universiteti O&rsquo;zbek tilshunosligi kafedrasi o&rsquo;qituvchisi Xolova Muyassar Abdulhakimovna tomonidan &ldquo;O&rsquo;zbek shevalari korpusini tuzishning lingvistik asoslari (Boysun tumani &ldquo;j&rdquo;lovchi shevalar misolida)&rdquo; tadqiqot doirasida tayyorlandi.&nbsp;</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; O&rsquo;zbek tilining lug&rsquo;at tarkibi, til tizimi uzoq davrning mahsuli bolib, shu xalqning barcha a&rsquo;zolari uchun tushunarli, iqtisodiy-ijtimoiy turmushda ko&rsquo;p qo&rsquo;llaniladigan, aniq ma&rsquo;no bera oladigan, so&rsquo;z yasalishi va yasash uchun asos bo&rsquo;ladigan juda boy leksema, so&rsquo;z va so&rsquo;zshakllariga, frazeologik birliklarga egadir. Bu tilning fonetik, leksik va grammatik turliligi ayni paytda Boysun shevalarining ham boyligi sanaladi.</p>
                <p>Shevaga oid ma'lumotlar bazasidagi lingvistik tahlillar bir necha bosqich va prinsiplarga asoslangan holda tuzildi.</p>
                <p>Ushbu bazaga murojaat qilinganda foydalanuvchi (baza keng foydalanuvchilar auditoriyasi uchun mo&rsquo;ljallangan) ga quyidagi imkoniyatlar taqdim etiladi.</p>
                <ol>
                    <li>Bosh sahifa. 2.So&rsquo;zlar jadvali. 3.Loyiha haqida. 4. Aloqa</li>
                </ol>
                <p><strong>Bosh sahifa.</strong> Ushbu sahifada boshqa sahifalarga o&rsquo;tish imkoniyatlari bilan bir qatorda bazadagi shevaga oid so&rsquo;zlarning so&rsquo;z turkumlari bo&rsquo;yicha umumiy va so&rsquo;zlarning etimologiyasi statistikasi keltirilgan.</p>
                <p><strong>So&rsquo;zlar jadvali. </strong>Sahifada barcha qatorlar soni, izlash, turkum bo'yicha va shevaga xos so&rsquo;zlarning etimologiya bo'yicha salarash imkoniyatlari nazariy asoslangan va shevalar quyidagicha jadvallardan iborat:</p>
                <p>
                    <ol type="a">
                        <li>Adabiy til (O&rsquo;zbek tili izohli lug&rsquo;atida shevaning mavjud o&rsquo;rniga urg&rsquo;u berildi);</li>
                        <li>transliteratsiya (shevaning lotin grafikasiga asoslangan varianti berildi);</li>
                        <li>transkripsiya (mavjud jahon standartiga asoslanilgan yunikodlar asosida yondashuv);</li>
                        <li>turkum (saralash imkoniyati bilan);</li>
                        <li>izoh;</li>
                        <li>misol;</li>
                        <li>sinonim;</li>
                        <li>omonim;</li>
                        <li>antonim;</li>
                        <li>o&rsquo;zlashgan qatlam (saralash imkoniyati bilan);</li>
                        <li>boshqa tillardagi tarjimasi (bunda shevaga oid so&rsquo;zning&nbsp; to&rsquo;g&rsquo;ridan to&rsquo;g&rsquo;ri&nbsp; yoki muqobil rus va ingliz tarjimasiga asoslaniladi).</li>
                    </ol>
                </p>
                <p><strong>Loyiha haqida. </strong>Sahifada ma&rsquo;lumotlar bazasini tuzishdan maqsad, foydalanuvchiga ko&rsquo;rsatmalar va shevalar bazasining imkoniyatlari haqida ma&rsquo;lumotlar aks etadi.</p>
                <p><strong>Transkripsiya. </strong>Sahifa dialektolog tadqiqotchilar uchun mo&rsquo;ljallangan bo&rsquo;lib, unda transkripsion belgilarning yunikodlari va undan foydalanish yo&rsquo;riqnomasi berilgan.</p>
                <p><strong>Aloqa. </strong>Ushbu sahifa orqali onlayn shevalar&nbsp; bazasi muallifi bilan bog&rsquo;lanish mumkin. <a href="mailto:xolovam@tersu.uz">xolovam@tersu.uz</a> +99897 530 50 21</p>
                <p>Ushbu &ldquo;Onlayn shevalar bazasi (Boysun shevasi misolida)&rdquo; loyihasi materiallarini tayyorlashda&nbsp; Rahimov S. &ldquo;O&rsquo;zbek tili Surxondaryo shevalari&rdquo; monografiyasi, Sh. Xolmirzayev va Tog&rsquo;ay Murodning badiiy asarlari, Boltayev&nbsp; Shoberdi tomonidan aytilgan dostonlar, 2006-2008 yil oralig&rsquo;ida chop etilgan 5 tomli &ldquo;O&rsquo;zbek tili izohli lug&rsquo;ati&rdquo;, Rahimov S. &ldquo;Surxondaryo o&rsquo;zbek shevalari&rdquo; &ldquo;Attuhfatuz zakiyatu fillug&rsquo;atit turkiya (Turkiy til (qipchoq tili) haqida noyob tuhfa)&rdquo;, N.Mirzayev &ldquo;O&rsquo;zbek tili etnografizmlarining izohli lug&rsquo;ati&rdquo;, S.Ibrohimov &ldquo;Farg&rsquo;ona shevalarining kasb-hunar leksikasi&rdquo; kabi lug&rsquo;atlardan hamda&nbsp; <a href="http://www.jcreview.com/fulltext/197-1587301396.pdf">http://www.jcreview.com/fulltext/197-1587301396.pdf</a> kabi sayt materiallardan foydalanildi.</p>
                <p>Sayt materiallaridan ommaviy foydalanish, nusxa olish, qayta ishlash jarayonida muallif tomonidan&nbsp; material muallifi,&nbsp; ushbu material mavjudligini ko&rsquo;rsatish maqsadida faol havola <a href="http://dialect.uz/dialects">http://dialect.uz/dialects</a>&nbsp; berilishi so&rsquo;raladi.</p>
                <p>Loyiha haqida fikr-mulohazalaringizni kutib qolamiz.</p>
            </article>
        </div>
    </div>
</section>
<div id="foot" style="background-color: #323030;">
    <div class="containerr" style="background-color: #323030;">
        <section id="footer">
            <div class="containerr" style="background-color: #323030;">
                <div class="row" style="background-color: #323030;">
                    <div class="col-4 col-6-medium col-12-small">
                        <section>
                            <header>
                                <h2>Foydali havolalar</h2>
                            </header>
                            <ul class="divided">
                                <li class="nav-item"><a class="nav-link text-white" target="_blank" href="https://edu.uz/uz">O`zbekiston Respublikasi Oliy va o`rta maxsus ta`lim vazirligi</a></li>
                                <li class="nav-item"><a class="nav-link text-white" target="_blank" href="http://tersu.uz/">Termiz Davlat Universiteti</a></li>
                                <li class="nav-item"><a class="nav-link text-white" target="_blank" href="http://uzswlu.uz/">O`zbekiston Davlat Jahon Tillari Universiteti</a></li>
                                <li class="nav-item"><a class="nav-link text-white" target="_blank" href="https://navoiy-uni.uz/">Toshkent davlat o‘zbek tili va adabiyoti universiteti</a></li>
                                <li class="nav-item"><a class="nav-link text-white" target="_blank" href="https://tsuos.uz/ru/">Toshkent davlat sharqshunoslik universiteti</a></li>
                            </ul>
                        </section>
                    </div>
                    <div class="col-4 col-6-medium col-12-small">
                        <section>
                            <header>
                                <h2>Foydali havolalar</h2>
                            </header>
                            <ul class="divided">
                                <li class="nav-item"><a class="nav-link text-white" target="_blank" href="https://idioms.uz">O'zbek Milliy korpusida idiomalar bazasi</a></li>
                                <li class="nav-item"><a class="nav-link text-white" target="_blank" href="https://saviya.uz/">Saviya.uz - Adabiyot. Hayot. Kamolot</a></li>
                                <li class="nav-item"><a class="nav-link text-white" target="_blank" href="http://ziyonet.uz/">ZiyoNET ta'lim portali</a></li>
                                <li class="nav-item"><a class="nav-link text-white" target="_blank" href="https://fledu.uz/">O‘zbekistonda xorijiy tillar onlayn jurnali</a></li>
                                <li class="nav-item"><a class="nav-link text-white" target="_blank" href="https://ulugov.uz">TAS-IX saytlari ro'yxati</a></li>
                            </ul>
                        </section>
                    </div>
                    <div class="col-4 col-12-medium">
                        <section>
                            <header>
                                <h2>Muallif maqolalari</h2>
                            </header>
                            <ul class="divided">
                                <li class="nav-item">
                                    <a class="nav-link text-white" target="_blank" href="https://scholar.google.com/citations?user=AKN8_B8AAAAJ&hl=ru#d=gs_md_cita-d&u=%2Fcitations%3Fview_op%3Dview_citation%26hl%3Dru%26user%3DAKN8_B8AAAAJ%26citation_for_view%3DAKN8_B8AAAAJ%3AhqOjcs7Dif8C%26tzom%3D-300">
                                        Peech Genres Of Texsts And Passport MeteMetrics In The Dialect Corpus(Baysun District On The Example Of The Sound “J” Dialects)
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" target="_blank" href="https://scholar.google.com/citations?user=AKN8_B8AAAAJ&hl=ru#d=gs_md_cita-d&u=%2Fcitations%3Fview_op%3Dview_citation%26hl%3Dru%26user%3DAKN8_B8AAAAJ%26citation_for_view%3DAKN8_B8AAAAJ%3A_FxGoFyzp5QC%26tzom%3D-300">
                                        TRANSCRIPTION IN THE CORPUS OF THE UZBEK NATIONAL BOYSUN DIALECT (On the example of Baysun District “J” Dialects)
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" target="_blank" href="https://scholar.google.com/citations?user=AKN8_B8AAAAJ&hl=ru#d=gs_md_cita-d&u=%2Fcitations%3Fview_op%3Dview_citation%26hl%3Dru%26user%3DAKN8_B8AAAAJ%26citation_for_view%3DAKN8_B8AAAAJ%3AUebtZRa9Y70C%26tzom%3D-300">
                                        EXPRESSION OF SITUATIONAL VERBS RELATED TO BOYSUN DIALECT IN THE UZBEK NATIONAL CORPS. (USING THE LETTER "J" IN THE DIALECT OF BOYSUN DISTRICT AS AN EXAMPLE)
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" target="_blank" href="https://scholar.google.com/citations?user=AKN8_B8AAAAJ&hl=ru">
                                        Boshqa maqolalar
                                    </a>
                                </li>
                            </ul>
                        </section>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<!-- Scripts -->
<script src="~/js/jquery.min.js"></script>
<script src="~/js/jquery.scrollex.min.js"></script>
<script src="~/js/jquery.scrolly.min.js"></script>
<script src="~/js/browser.min.js"></script>
<script src="~/js/breakpoints.min.js"></script>
<script src="~/js/util.js"></script>
<script src="~/js/main.js"></script>
