
    </section>

    <!-- Main -->
    <section id="main">
        <div class="container">
            <!-- Content -->
                <!-- Content -->
    <article class="box post">
        <header>
            <h2 >Loyiha haqida</h2>
            <p>Loyihaning va uning mualliflari haqida</p>
        </header>
        <p style="text-align: center;">(Boysun tumanida istiqomat qiluvchi aholi shevasi misolida)</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Ushbu &ldquo;Onlayn shevalar bazasi (Boysun shevasi misolida)&rdquo; loyihasi Termiz davlat universiteti O&rsquo;zbek tilshunosligi kafedrasi o&rsquo;qituvchisi Xolova Muyassar Abdulhakimovna tomonidan &ldquo;O&rsquo;zbek shevalari korpusini tuzishning lingvistik asoslari (Boysun tumani &ldquo;j&rdquo;lovchi shevalar misolida)&rdquo; tadqiqot doirasida tayyorlandi.&nbsp;</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; O&rsquo;zbek tilining lug&rsquo;at tarkibi, til tizimi uzoq davrning mahsuli bolib, shu xalqning barcha a&rsquo;zolari uchun tushunarli, iqtisodiy-ijtimoiy turmushda ko&rsquo;p qo&rsquo;llaniladigan, aniq ma&rsquo;no bera oladigan, so&rsquo;z yasalishi va yasash uchun asos bo&rsquo;ladigan juda boy leksema, so&rsquo;z va so&rsquo;zshakllariga, frazeologik birliklarga egadir. Bu tilning fonetik, leksik va grammatik turliligi ayni paytda Boysun shevalarining ham boyligi sanaladi.</p>
        <p>Shevaga oid ma'lumotlar bazasidagi lingvistik tahlillar bir necha bosqich va prinsiplarga asoslangan holda tuzildi.</p>
        <p>Ushbu bazaga murojaat qilinganda foydalanuvchi (baza keng foydalanuvchilar auditoriyasi uchun mo&rsquo;ljallangan) ga quyidagi imkoniyatlar taqdim etiladi.</p>
        <ol>
            <li>Bosh sahifa. 2.So&rsquo;zlar jadvali. 3.Loyiha haqida. 4. Aloqa</li>
        </ol>
        <p><strong>Bosh sahifa.</strong> Ushbu sahifada boshqa sahifalarga o&rsquo;tish imkoniyatlari bilan bir qatorda bazadagi shevaga oid so&rsquo;zlarning so&rsquo;z turkumlari bo&rsquo;yicha umumiy va so&rsquo;zlarning etimologiyasi statistikasi keltirilgan.</p>
        <p><strong>So&rsquo;zlar jadvali. </strong>Sahifada barcha qatorlar soni, izlash, turkum bo'yicha va shevaga xos so&rsquo;zlarning etimologiya bo'yicha salarash imkoniyatlari nazariy asoslangan va shevalar quyidagicha jadvallardan iborat:</p>
        <p>
            <ol type="a">
                <li>Adabiy til (O&rsquo;zbek tili izohli lug&rsquo;atida shevaning mavjud o&rsquo;rniga urg&rsquo;u berildi);</li>
                <li>transliteratsiya (shevaning lotin grafikasiga asoslangan varianti berildi);</li>
                <li>transkripsiya (mavjud jahon standartiga asoslanilgan yunikodlar asosida yondashuv);</li>
                <li>turkum (saralash imkoniyati bilan);</li>
                <li>izoh;</li>
                <li>misol;</li>
                <li>sinonim;</li>
                <li>omonim;</li>
                <li>antonim;</li>
                <li>o&rsquo;zlashgan qatlam (saralash imkoniyati bilan);</li>
                <li>boshqa tillardagi tarjimasi (bunda shevaga oid so&rsquo;zning&nbsp; to&rsquo;g&rsquo;ridan to&rsquo;g&rsquo;ri&nbsp; yoki muqobil rus va ingliz tarjimasiga asoslaniladi).</li>
            </ol>
        </p>
        <p><strong>Loyiha haqida. </strong>Sahifada ma&rsquo;lumotlar bazasini tuzishdan maqsad, foydalanuvchiga ko&rsquo;rsatmalar va shevalar bazasining imkoniyatlari haqida ma&rsquo;lumotlar aks etadi.</p>
        <p><strong>Transkripsiya. </strong>Sahifa dialektolog tadqiqotchilar uchun mo&rsquo;ljallangan bo&rsquo;lib, unda transkripsion belgilarning yunikodlari va undan foydalanish yo&rsquo;riqnomasi berilgan.</p>
        <p><strong>Aloqa. </strong>Ushbu sahifa orqali onlayn shevalar&nbsp; bazasi muallifi bilan bog&rsquo;lanish mumkin. <a href="mailto:xolovam@tersu.uz">xolovam@tersu.uz</a> +99897 530 50 21</p>
        <p>Ushbu &ldquo;Onlayn shevalar bazasi (Boysun shevasi misolida)&rdquo; loyihasi materiallarini tayyorlashda&nbsp; Rahimov S. &ldquo;O&rsquo;zbek tili Surxondaryo shevalari&rdquo; monografiyasi, Sh. Xolmirzayev va Tog&rsquo;ay Murodning badiiy asarlari, Boltayev&nbsp; Shoberdi tomonidan aytilgan dostonlar, 2006-2008 yil oralig&rsquo;ida chop etilgan 5 tomli &ldquo;O&rsquo;zbek tili izohli lug&rsquo;ati&rdquo;, Rahimov S. &ldquo;Surxondaryo o&rsquo;zbek shevalari&rdquo; &ldquo;Attuhfatuz zakiyatu fillug&rsquo;atit turkiya (Turkiy til (qipchoq tili) haqida noyob tuhfa)&rdquo;, N.Mirzayev &ldquo;O&rsquo;zbek tili etnografizmlarining izohli lug&rsquo;ati&rdquo;, S.Ibrohimov &ldquo;Farg&rsquo;ona shevalarining kasb-hunar leksikasi&rdquo; kabi lug&rsquo;atlardan hamda&nbsp; <a href="http://www.jcreview.com/fulltext/197-1587301396.pdf">http://www.jcreview.com/fulltext/197-1587301396.pdf</a> kabi sayt materiallardan foydalanildi.</p>
        <p>Sayt materiallaridan ommaviy foydalanish, nusxa olish, qayta ishlash jarayonida muallif tomonidan&nbsp; material muallifi,&nbsp; ushbu material mavjudligini ko&rsquo;rsatish maqsadida faol havola <a href="http://dialect.uz/dialects">http://dialect.uz/dialects</a>&nbsp; berilishi so&rsquo;raladi.</p>
        <p>Loyiha haqida fikr-mulohazalaringizni kutib qolamiz.</p>
    </article>
        </div>
    </section>
