@model UserViewModel
@{
    string message = ViewBag.Message;
}

<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="stylesheet" href="~/css/main.css" />
<noscript><link rel="stylesheet" href="~/css/noscript.css" /></noscript>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.26/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.26/js/jquery.dataTables.js"></script>
<!-- Wrapper -->
<div id="wrapper" class="fade-in">
<!-- Header -->
<header id="header">
</header>
<!-- Nav -->
<nav id="nav">
    <ul class="links">
        <li>
            <a asp-area="" asp-controller="Home" asp-action="Index">Bosh sahifa</a>
        </li>
        <li>
            <a asp-area="" asp-controller="Home" asp-action="GetAllWordsForUser">So'zlar jadvali</a>
        </li>
        <li>
            <a asp-area="" asp-controller="Home" asp-action="LoyihaHaqida">Loyiha haqida</a>
        </li>
        <li>
            <a class="active" asp-area="" asp-controller="Home" asp-action="PostUser">Aloqa</a>
        </li>
    </ul>
</nav>
<section id="main">
        <div class="p-3 bg-white">
            <div class="container">
                    <header>
                    <h2 style="text-align:center;">Bog'lanish</h2>
                    <p style="text-align:center;">Muallif bilan bog'lanish</p>
                    </header>
                    <div class="row">
                        <div class="col-md-6 d-none d-md-block d-lg-block">
                            <img src="~/images/image (1).jpg" style="width: 100%;height: auto;" />
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <form method="post" asp-action="PostUser" class="border border-light pr-3">

                                <input asp-for="Name" type="text" v-model="name" class="form-control mb-4" placeholder="Ismingiz" required>
                                <input asp-for="Email" type="email" v-model="email" class="form-control mb-4" placeholder="E-mail manzilingiz" required>
                                <textarea asp-for="Comment" class="form-control rounded-0" v-model="message" rows="3" placeholder="Xabar matni" required></textarea>

                                <div class="form-row mt-4">
                                    <div class="col-md-4 col-sm-6">
                                        <img src="~/images/577a5f35cc008.png">
                                    </div>
                                    <div class="col-md-5 col-sm-6">
                                        <input asp-for="Verify" type="text" v-model="aa577a5f35cc008" class="form-control" placeholder="Tasdiqlash kodi">
                                        <p :class="{ 'text-success': message === 'Xabaringiz yuborildi!', 'text-danger': message === 'Tasdiqlash kodi xato!' }">@message</p>
                                    </div>
                                </div>
                                <button class="button btn-block mt-4" type="submit">Yuborish</button>
                            </form>
                        </div>
                    </div>
            </div>
        </div>
</section>
    <div id="foot" style="background-color: #323030;">
        <div class="containerr" style="background-color: #323030;">
            <section id="footer">
                <div class="row" style="background-color: #323030; padding-top: 0px">
                    <div class="col-4 col-6-medium col-12-small">
                        <section>
                            <header>
                                <h2 class="form-control-color: text-white">Foydali havolalar</h2>
                            </header>
                            <ul class="divided">
                                <li class="nav-item"><a class="nav-link text-white" target="_blank" href="https://edu.uz/uz">O`zbekiston Respublikasi Oliy va o`rta maxsus ta`lim vazirligi</a></li>
                                <li class="nav-item"><a class="nav-link text-white" target="_blank" href="http://tersu.uz/">Termiz Davlat Universiteti</a></li>
                                <li class="nav-item"><a class="nav-link text-white" target="_blank" href="http://uzswlu.uz/">O`zbekiston Davlat Jahon Tillari Universiteti</a></li>
                                <li class="nav-item"><a class="nav-link text-white" target="_blank" href="https://navoiy-uni.uz/">Toshkent davlat o‘zbek tili va adabiyoti universiteti</a></li>
                                <li class="nav-item"><a class="nav-link text-white" target="_blank" href="https://tsuos.uz/ru/">Toshkent davlat sharqshunoslik universiteti</a></li>

                            </ul>
                        </section>
                    </div>
                    <div class="col-4 col-6-medium col-12-small">
                        <section>
                            <header>
                                <h2>Foydali havolalar</h2>
                            </header>
                            <ul class="divided">
                                <li class="nav-item"><a class="nav-link text-white" target="_blank" href="https://idioms.uz">O'zbek Milliy korpusida idiomalar bazasi</a></li>
                                <li class="nav-item"><a class="nav-link text-white" target="_blank" href="https://saviya.uz/">Saviya.uz - Adabiyot. Hayot. Kamolot</a></li>
                                <li class="nav-item"><a class="nav-link text-white" target="_blank" href="http://ziyonet.uz/">ZiyoNET ta'lim portali</a></li>
                                <li class="nav-item"><a class="nav-link text-white" target="_blank" href="https://fledu.uz/">O‘zbekistonda xorijiy tillar onlayn jurnali</a></li>
                                <li class="nav-item"><a class="nav-link text-white" target="_blank" href="https://ulugov.uz">TAS-IX saytlari ro'yxati</a></li>
                            </ul>
                        </section>
                    </div>
                    <div class="col-4 col-12-medium">
                        <section>
                            <header>
                                <h2>Muallif maqolalari</h2>
                            </header>
                            <ul class="divided">
                                <li class="nav-item">
                                    <a class="nav-link text-white" target="_blank" href="https://scholar.google.com/citations?user=AKN8_B8AAAAJ&hl=ru#d=gs_md_cita-d&u=%2Fcitations%3Fview_op%3Dview_citation%26hl%3Dru%26user%3DAKN8_B8AAAAJ%26citation_for_view%3DAKN8_B8AAAAJ%3AhqOjcs7Dif8C%26tzom%3D-300">
                                        Peech Genres Of Texsts And Passport MeteMetrics In The Dialect Corpus(Baysun District On The Example Of The Sound “J” Dialects)
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" target="_blank" href="https://scholar.google.com/citations?user=AKN8_B8AAAAJ&hl=ru#d=gs_md_cita-d&u=%2Fcitations%3Fview_op%3Dview_citation%26hl%3Dru%26user%3DAKN8_B8AAAAJ%26citation_for_view%3DAKN8_B8AAAAJ%3A_FxGoFyzp5QC%26tzom%3D-300">
                                        TRANSCRIPTION IN THE CORPUS OF THE UZBEK NATIONAL BOYSUN DIALECT (On the example of Baysun District “J” Dialects)
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" target="_blank" href="https://scholar.google.com/citations?user=AKN8_B8AAAAJ&hl=ru#d=gs_md_cita-d&u=%2Fcitations%3Fview_op%3Dview_citation%26hl%3Dru%26user%3DAKN8_B8AAAAJ%26citation_for_view%3DAKN8_B8AAAAJ%3AUebtZRa9Y70C%26tzom%3D-300">
                                        EXPRESSION OF SITUATIONAL VERBS RELATED TO BOYSUN DIALECT IN THE UZBEK NATIONAL CORPS. (USING THE LETTER "J" IN THE DIALECT OF BOYSUN DISTRICT AS AN EXAMPLE)
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" target="_blank" href="https://scholar.google.com/citations?user=AKN8_B8AAAAJ&hl=ru">
                                        Boshqa maqolalar
                                    </a>
                                </li>
                            </ul>
                        </section>
                    </div>
                </div>
            </section>
        </div>
    </div>

<!-- Scripts -->
<script src="~/js/jquery.min.js"></script>
<script src="~/js/jquery.scrollex.min.js"></script>
<script src="~/js/jquery.scrolly.min.js"></script>
<script src="~/js/browser.min.js"></script>
<script src="~/js/breakpoints.min.js"></script>
<script src="~/js/util.js"></script>
<script src="~/js/main.js"></script>
