<!doctype html>
<html lang="uz">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSRF Token -->
    <meta name="csrf-token" content="xuvt4JqJOFJnfglVQw6kdjibUaopb8p3nGkb8RFc">

    <title>Dialect.uz</title>

    <!-- Scripts -->
    <script src="/js/app.js?id=ea37718df69ccf0bbc3e" defer></script>

    <!-- Fonts -->
    <link rel="dns-prefetch" href="//fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">

    <!-- Styles -->
    <link href="/css/app.css?id=b107fd55e0dd805a76a3" rel="stylesheet">
</head>

<body class="homepage is-preload">
    <div id="page-wrapper">

        <!-- Header -->
        <section id="header">

        </section>

        <!-- Main -->
        <section id="main">
            <div class="container">
                <!-- Content -->
                <!-- Content -->
                <article class="box post">
                    <header>
                        <h2>Transkripsiya</h2>
                        <p>Shevalar korpusida transkripsiyaning berilishi</p>
                    </header>


                    <p>Kompyuter lingvistika tarkibiy qismi sifatida dialektal korpuslarni tuzish muammolari yechimini topishda dunyo tajribasiga etibor bersak, Xitoy Mandarin sheva korpusi, Britancha ingliz tilining Xelsinki dialektal korpusi kabilarni tuzishda koproq fonetik, grammatik tomonlar diqqat markazida turgan bolsa, Gurjiston dialektlari korpusida urgu koproq leksik, fonetik, grammatik qurilishlar tilni kodlash fonida beriladi. Rus lingvistikasida korpus tuzishdagi Tomsk dialektologik maktabida amalga oshirilgan ishlar tahsinga loyiq. Dialektik korpus yaratish ishlari Y.A.Yurin tashabbusi ekspeditsiya qaydnomalarni skaner qilish bilan boshlagan va mahalliy aholining ogzaki sozlashuv aks etgan sheva matnlari metarazmetkalari ishlab chiqilgan. Ammo tilning boshqa korpuslarini yaratishga qaraganda shevalar korpusini tuzish uzoq va mashaqqatli mehnat talab qilgani sababli ishni shu yerda toxtatishga majbur bolingan. 1 457 579 ta soz va sozshakllardan iborat Gurjiston korpus matnlari bazasi tarkibidagi dialektologik korpusi esa 3 tipga bolinadi:</p>
                    <ol>
                        <li>Nashr etilgan matnlar korpusi (bu bosqichda matnlar korpusi joylashtirilish bilan shevaga oid sozlar alohidalanadi).</li>
                        <li>Qolyozma shaklidagi jamlanmalar (arxivda saqlanayotgan malumotlar).</li>
                        <li>Traskriptlar &ndash; (shifrlangan-belgilangan - video yoki audio shaklidagi manbalar).</li>
                    </ol>
                    <p>Matnlar fondini tashkil qilishdan maqsad:</p>
                    <p>-nashr etilgan matnlarning elektron shaklini yaratish;</p>
                    <p>-qolyozma shaklidagi arxiv malumotlarni tartibga solish;</p>
                    <p>-mamlakatning ichki qismi va uning chegara hududlariga ilmiy safarlar uyushtirish, malumotlar va yangi video-audio manbalar yigish hamda ularni shifrlash .</p>
                    <p>Tilshunoslikda lotin alifbosiga asoslanib tuzilgan transkripsiya xalqaro fonetik alfavit hisoblanadi. Boshqird ogzaki korpusi ham keng istemolda bolgan lotin grafikasiga asoslanilgan .Bundan kelib chiqadiki, ozbek shevalari korpusini yaratishda badiiy asarlarda aks etgan sheva oid birliklar transkriptsiz, qolyozma va video-audio shakldagi manbalar transkpipsiya bilan berilishi maqsadga muvofiqdir. Barcha dialektik manbalarni traskript shaklda berilishi ishning ancha orqaga surilishi va korpusga dastlabki qadamlar qoyilishida qiyinchiliklar tugilishiga sabab bolib qoladi.</p>
                    <p>Transkripsiya (lotincha- transkriptio- qayta yozish) xalq foydalanayotgan alifboga ozgartirishlar kiritish mumkin bolgan, til tovushlarini aniq ifodalolchi, &nbsp;fonemalarning nutq oqimidagi turli ottenkalarini hudidiy sheva va lahjalarnining fonetik xususiyatlarini (tovushlarning qisqarishi-cho&rsquo;zilishi, asos va qo&rsquo;shimchalar garmonal moslashuvi)&nbsp; bko&rsquo;rsatuvchi xizmat yozuvidir, shu sababli transkripsion belgilarning alifbo tovushlardan koproq bolishi tabiiy holatdir. Transkripsiyaning o&rsquo;zaro 2 turi farqlanadi:</p>
                    <ol>
                        <li>Fonetik transkripsiya- bu tur fonetik qoidalar asosiga quriladi, har bir fonema uchun maxsus grafik belgilar ishlatiladi: kir/qȉr, m&auml;n&auml;/qānȉ;</li>
                        <li>Fonematik transkripsiya-bu tur fonologik hodisalar asosiga quriladi, fonemalar ifodasi asosiy planga chiqadi: kir/qir, mana/qani<a href="#_ftn1" name="_ftnref1">[1]</a>.</li>
                    </ol>
                    <p>&nbsp;1993 yil 2-sentabrda &ldquo;Lotin grafikasiga asoslangan ozbek alifbosini qabul qilish togrisida&rdquo; qabul qilingan. Qarordan kelib chiqib dialektal korpus tuzishda lotin grafikasiga asoslanilsa, fonematik&nbsp; transkripsiyadan foydalanilsa yoxud&nbsp; fonologik transkripsiyadan foydalanish jarayonida yagona yunikodli&nbsp; transkripsion belgilarning qo&rsquo;llanilishi maqsadga muvofiqdir. Shevalar korpusining transkripsiyasini ishlab chiqishda f.f.dok. Samixon Ashurboyev<a href="#_ftn2" name="_ftnref2">[2]</a> tomonida ishlab chiqilgan transkripsiyaga asoslanildi.</p>
                    <p style="text-align: right;">1.Jadval. Transkripsiya.</p>
                    <table class="transcriptions-table table table-bordered">
                        <tbody>
                            <tr>
                                <th width="54">
                                    <p>t/r</p>
                                </th>
                                <th colspan="2" width="132">
                                    <p>Transletera-tsiya</p>
                                </th>
                                <th width="57">
                                    <p>Transkript</p>
                                </th>
                                <th rowspan="2" width="104">
                                    <p>Yunikod</p>
                                </th>
                                <th rowspan="2" width="170">
                                    <p>Izoh</p>
                                </th>
                                <th rowspan="2" width="121">
                                    <p>Misol</p>
                                </th>
                            </tr>
                            <tr>
                                <th width="54">
                                    <p>&nbsp;</p>
                                </th>
                                <th width="66">
                                    <p>Kirill</p>
                                    <p>Yozuv</p>
                                </th>
                                <th width="66">
                                    <p>Lotin yozuv</p>
                                </th>
                                <th width="57">
                                    <p>Lotin yozuv asos</p>
                                </th>
                            </tr>
                            <tr>
                                <td width="54">
                                    <p>1.&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;</p>
                                </td>
                                <td width="66">
                                    <p>А а</p>
                                </td>
                                <td width="66">
                                    <p>A a</p>
                                </td>
                                <td width="57">
                                    <p>A a</p>
                                </td>
                                <td width="104">
                                    <p>0041/0061</p>
                                </td>
                                <td width="170">
                                    <p>Orqa qator, quyi keng, lablanmagan unlini ifodalaydi</p>
                                </td>
                                <td width="121">
                                    <p>Тошкент</p>
                                    <p>Toshkent</p>
                                    <p>Ta&scaron;kan</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="54">
                                    <p>2.&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;</p>
                                </td>
                                <td width="66">
                                    <p>А а</p>
                                </td>
                                <td width="66">
                                    <p>A a</p>
                                </td>
                                <td width="57">
                                    <p>&Auml; &auml;</p>
                                </td>
                                <td width="104">
                                    <p>00C4/00E4</p>
                                </td>
                                <td width="170">
                                    <p>Old qator, quyi keng, lablanmagan unlini ifodalaydi</p>
                                </td>
                                <td width="121">
                                    <p>арна</p>
                                    <p>аrna</p>
                                    <p>&auml;rn&auml;</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="54">
                                    <p>3.&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;</p>
                                </td>
                                <td width="66">
                                    <p>А а</p>
                                </td>
                                <td width="66">
                                    <p>A a</p>
                                </td>
                                <td width="57">
                                    <p>Ā ā</p>
                                </td>
                                <td width="104">
                                    <p>0100/0101</p>
                                </td>
                                <td width="170">
                                    <p>Orqa qator, quyi keng, qisman lablangan unlini ifodalaydi</p>
                                </td>
                                <td width="121">
                                    <p>дарахт</p>
                                    <p>daraxt</p>
                                    <p>Ā&gamma;āč</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="54">
                                    <p>4.&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;</p>
                                </td>
                                <td width="66">
                                    <p>Э э</p>
                                </td>
                                <td width="66">
                                    <p>E e</p>
                                </td>
                                <td width="57">
                                    <p>E e</p>
                                </td>
                                <td width="104">
                                    <p>0045/0065</p>
                                </td>
                                <td width="170">
                                    <p>Old qator, o&rsquo;rta keng, lablanmagan unlini ifodalaydi</p>
                                </td>
                                <td width="121">
                                    <p>Эгин</p>
                                    <p>Egin</p>
                                    <p>Iyin</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="54">
                                    <p>5.&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;</p>
                                </td>
                                <td width="66">
                                    <p>И и</p>
                                </td>
                                <td width="66">
                                    <p>I i</p>
                                </td>
                                <td width="57">
                                    <p>I i</p>
                                </td>
                                <td width="104">
                                    <p>0049/0069</p>
                                </td>
                                <td width="170">
                                    <p>Old qator, yuqori-tor, lablanmagan unlini, singarmonizmli shevalarda qisqa, shahar shevalarda oraliq tovushni ifodalaydi</p>
                                </td>
                                <td width="121">
                                    <p>кичик</p>
                                    <p>кichik</p>
                                    <p>kičči</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="54">
                                    <p>6.&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;</p>
                                </td>
                                <td width="66">
                                    <p>И и</p>
                                </td>
                                <td width="66">
                                    <p>I i</p>
                                </td>
                                <td width="57">
                                    <p>Ȉ ȉ</p>
                                </td>
                                <td width="104">
                                    <p>0208/0209</p>
                                </td>
                                <td width="170">
                                    <p>Orqa qator, yuqori-tor, lablanmagan unlini, singarmo-nizmli shevalarda qisqa, shahar shevalarda oraliq tovushni ifodalaydi</p>
                                </td>
                                <td width="121">
                                    <p>қилиқ</p>
                                    <p>qiliq</p>
                                    <p>qȉlȉ&gamma;&nbsp;</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="54">
                                    <p>7.&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;</p>
                                </td>
                                <td width="66">
                                    <p>У у</p>
                                </td>
                                <td width="66">
                                    <p>U u</p>
                                </td>
                                <td width="57">
                                    <p>U u</p>
                                </td>
                                <td width="104">
                                    <p>0055/0075</p>
                                </td>
                                <td width="170">
                                    <p>Orqa qator, yuqori-tor, lablangan unlini ifodalaydi</p>
                                </td>
                                <td width="121">
                                    <p>Худо</p>
                                    <p>Xudo</p>
                                    <p>Хudaj</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="54">
                                    <p>8.&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;</p>
                                </td>
                                <td width="66">
                                    <p>У у</p>
                                </td>
                                <td width="66">
                                    <p>U u</p>
                                </td>
                                <td width="57">
                                    <p>Ű ű</p>
                                </td>
                                <td width="104">
                                    <p>0170/0171</p>
                                </td>
                                <td width="170">
                                    <p>Old qator, yuqori-tor, lablangan unlini ifodalaydi</p>
                                </td>
                                <td width="121">
                                    <p>Урчуқ</p>
                                    <p>urchuq</p>
                                    <p>u rčű&gamma;</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="54">
                                    <p>9.&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;</p>
                                </td>
                                <td width="66">
                                    <p>Ў ў</p>
                                </td>
                                <td width="66">
                                    <p>O&rsquo; o&rsquo;</p>
                                </td>
                                <td width="57">
                                    <p>O o</p>
                                </td>
                                <td width="104">
                                    <p>004F/006F</p>
                                </td>
                                <td width="170">
                                    <p>Orqa qator, o&rsquo;rta keng, lablangan unli</p>
                                </td>
                                <td width="121">
                                    <p>Тўпиқ</p>
                                    <p>тo&rsquo;piq</p>
                                    <p>тo&rsquo;pȉ&gamma;</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="54">
                                    <p>10.&nbsp; &nbsp;</p>
                                </td>
                                <td width="66">
                                    <p>Ў ў</p>
                                </td>
                                <td width="66">
                                    <p>O&rsquo; o&rsquo;</p>
                                </td>
                                <td width="57">
                                    <p>&Ouml;&ouml;</p>
                                </td>
                                <td width="104">
                                    <p>00D6/00F6</p>
                                </td>
                                <td width="170">
                                    <p>Old qator, o&rsquo;rta keng, lablangan unli</p>
                                </td>
                                <td width="121">
                                    <p>Ёстиқ</p>
                                    <p>yostiq</p>
                                    <p>l&ouml;labolȉ&scaron;</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="54">
                                    <p>11.&nbsp; &nbsp;</p>
                                </td>
                                <td width="66">
                                    <p>&nbsp;</p>
                                </td>
                                <td width="66">
                                    <p>&nbsp;</p>
                                </td>
                                <td width="57">
                                    <p>ϵ</p>
                                    <p>&nbsp;</p>
                                    <p>&nbsp;</p>
                                    <p>&nbsp;</p>
                                </td>
                                <td width="104">
                                    <p>03F5</p>
                                </td>
                                <td width="170">
                                    <p>Old qator, o&rsquo;rta keng, lablanmagan, Boysun shevasida uchramaydi, Namangan shahar shevasida mavjud</p>
                                </td>
                                <td width="121">
                                    <p>Икки</p>
                                    <p>ikki</p>
                                    <p>ϵkki&nbsp;</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="54">
                                    <p>12.&nbsp; &nbsp;</p>
                                </td>
                                <td width="66">
                                    <p>Б б</p>
                                </td>
                                <td width="66">
                                    <p>B b</p>
                                </td>
                                <td width="57">
                                    <p>B b</p>
                                </td>
                                <td width="104">
                                    <p>0042/0062</p>
                                </td>
                                <td width="170">
                                    <p>Lab-lab, portlovchi, jarangli, sof undosh</p>
                                </td>
                                <td width="121">
                                    <p>бу ёқ</p>
                                    <p>bu yoq</p>
                                    <p>bā:&gamma;</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="54">
                                    <p>13.&nbsp; &nbsp;</p>
                                </td>
                                <td width="66">
                                    <p>Д д</p>
                                </td>
                                <td width="66">
                                    <p>D d</p>
                                </td>
                                <td width="57">
                                    <p>D</p>
                                </td>
                                <td width="104">
                                    <p>0044/0064</p>
                                </td>
                                <td width="170">
                                    <p>Til oldi, portlovchi, jarangli, sof undosh</p>
                                </td>
                                <td width="121">
                                    <p>Докарўмол</p>
                                    <p>dokaro&rsquo;mol</p>
                                    <p>d&auml;kar&ouml;mal</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="54">
                                    <p>14.&nbsp; &nbsp;</p>
                                </td>
                                <td width="66">
                                    <p>Ф ф</p>
                                </td>
                                <td width="66">
                                    <p>F f</p>
                                </td>
                                <td width="57">
                                    <p>F f</p>
                                </td>
                                <td width="104">
                                    <p>0046/0066</p>
                                </td>
                                <td width="170">
                                    <p>Lab-tish, sirg&rsquo;aluvchi, jarangsiz, sof undoshi Boysun shevasida f&lt;p ga&nbsp; ko&rsquo;chishi kuzatiladi.</p>
                                </td>
                                <td width="121">
                                    <p>пўта (белбоғ)</p>
                                    <p>po&rsquo;ta</p>
                                    <p>p&ouml;t&auml;</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="54">
                                    <p>15.&nbsp; &nbsp;</p>
                                </td>
                                <td width="66">
                                    <p>Г г</p>
                                </td>
                                <td width="66">
                                    <p>G g</p>
                                </td>
                                <td width="57">
                                    <p>G g</p>
                                </td>
                                <td width="104">
                                    <p>0047/0067</p>
                                </td>
                                <td width="170">
                                    <p>Til orqa, portlovchi, jarangli, sof undosh</p>
                                </td>
                                <td width="121">
                                    <p>галдир (довдир)</p>
                                    <p>galdir</p>
                                    <p>g&auml;ldȉr</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="54">
                                    <p>16.&nbsp; &nbsp;</p>
                                </td>
                                <td width="66">
                                    <p>Ҳ ҳ</p>
                                </td>
                                <td width="66">
                                    <p>H h</p>
                                </td>
                                <td width="57">
                                    <p>H h</p>
                                </td>
                                <td width="104">
                                    <p>0048/0068</p>
                                </td>
                                <td width="170">
                                    <p>Bo&rsquo;giz, sirg&rsquo;aluvchi, jarangsiz,sof undosh</p>
                                </td>
                                <td width="121">
                                    <p>ҳаворламоқ (текисламоқ)</p>
                                    <p>havorlavoq</p>
                                    <p>havarl&auml;māq</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="54">
                                    <p>17.&nbsp; &nbsp;</p>
                                </td>
                                <td width="66">
                                    <p>К к</p>
                                </td>
                                <td width="66">
                                    <p>K k</p>
                                </td>
                                <td width="57">
                                    <p>K k</p>
                                </td>
                                <td width="104">
                                    <p>004B/006B</p>
                                </td>
                                <td width="170">
                                    <p>Til orqa, portlovchi, jarangsiz, sof undosh</p>
                                </td>
                                <td width="121">
                                    <p>кўмакай (таги билан)</p>
                                    <p>ko&rsquo;makay</p>
                                    <p>k&ouml;mak&auml;j</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="54">
                                    <p>18.&nbsp; &nbsp;</p>
                                </td>
                                <td width="66">
                                    <p>Л л</p>
                                </td>
                                <td width="66">
                                    <p>L l</p>
                                </td>
                                <td width="57">
                                    <p>L l</p>
                                </td>
                                <td width="104">
                                    <p>004C/006C</p>
                                </td>
                                <td width="170">
                                    <p>Til oldi, sirg&rsquo;aluvchi, jarangli, sof undosh</p>
                                </td>
                                <td width="121">
                                    <p>силкинмоқ</p>
                                    <p>silkinmoq</p>
                                    <p>lo&rsquo;xčȉmaq</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="54">
                                    <p>19.&nbsp; &nbsp;</p>
                                </td>
                                <td width="66">
                                    <p>М м</p>
                                </td>
                                <td width="66">
                                    <p>M m</p>
                                </td>
                                <td width="57">
                                    <p>M m</p>
                                </td>
                                <td width="104">
                                    <p>004D/006D</p>
                                </td>
                                <td width="170">
                                    <p>Lablangan, portlovchi, jarangli, sof undosh</p>
                                </td>
                                <td width="121">
                                    <p>Ўмган</p>
                                    <p>o&rsquo;mgan</p>
                                    <p>&ouml;mg&auml;k</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="54">
                                    <p>20.&nbsp; &nbsp;</p>
                                </td>
                                <td width="66">
                                    <p>Н н</p>
                                </td>
                                <td width="66">
                                    <p>N n</p>
                                </td>
                                <td width="57">
                                    <p>N n</p>
                                </td>
                                <td width="104">
                                    <p>004E/006E</p>
                                </td>
                                <td width="170">
                                    <p>Til oldi, portlovchi, jarangli, sof undosh</p>
                                </td>
                                <td width="121">
                                    <p>нор</p>
                                    <p>nor</p>
                                    <p>nār</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="54">
                                    <p>21.&nbsp; &nbsp;</p>
                                </td>
                                <td width="66">
                                    <p>П п</p>
                                </td>
                                <td width="66">
                                    <p>P p</p>
                                </td>
                                <td width="57">
                                    <p>P p</p>
                                </td>
                                <td width="104">
                                    <p>0050/0070</p>
                                </td>
                                <td width="170">
                                    <p>Lab-lab, portlovchi, jarangsiz, sof undosh</p>
                                </td>
                                <td width="121">
                                    <p>Шофёр</p>
                                    <p>shofyor</p>
                                    <p>&scaron;opȉr</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="54">
                                    <p>22.&nbsp; &nbsp;</p>
                                </td>
                                <td width="66">
                                    <p>Қ қ</p>
                                </td>
                                <td width="66">
                                    <p>Q q</p>
                                </td>
                                <td width="57">
                                    <p>Q q</p>
                                </td>
                                <td width="104">
                                    <p>0051/0071</p>
                                </td>
                                <td width="170">
                                    <p>Chuqur til orqa, portlovchi, jarangsiz, sof undosh</p>
                                </td>
                                <td width="121">
                                    <p>тўсатдан</p>
                                    <p>to&rsquo;satdan</p>
                                    <p>tujqus</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="54">
                                    <p>23.&nbsp; &nbsp;</p>
                                </td>
                                <td width="66">
                                    <p>Р р</p>
                                </td>
                                <td width="66">
                                    <p>R r</p>
                                </td>
                                <td width="57">
                                    <p>R r</p>
                                </td>
                                <td width="104">
                                    <p>0052/0072</p>
                                </td>
                                <td width="170">
                                    <p>Til oldi, sirg&rsquo;aluvchi, jarangli, ovozdor, sof undosh</p>
                                </td>
                                <td width="121">
                                    <p>рав (тўсин)</p>
                                    <p>rav</p>
                                    <p>rav</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="54">
                                    <p>24.&nbsp; &nbsp;</p>
                                </td>
                                <td width="66">
                                    <p>С с</p>
                                </td>
                                <td width="66">
                                    <p>S s</p>
                                </td>
                                <td width="57">
                                    <p>S s</p>
                                </td>
                                <td width="104">
                                    <p>0053/0073</p>
                                </td>
                                <td width="170">
                                    <p>Til oldi, sirg&rsquo;aluvchi, jarangsiz, sof undosh</p>
                                </td>
                                <td width="121">
                                    <p>сиғаламоқ (мўраламоқ)</p>
                                    <p>sig&rsquo;alamoq</p>
                                    <p>sȉ&gamma;ālamaq</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="54">
                                    <p>25.&nbsp; &nbsp;</p>
                                </td>
                                <td width="66">
                                    <p>Т т</p>
                                </td>
                                <td width="66">
                                    <p>T t</p>
                                </td>
                                <td width="57">
                                    <p>T t</p>
                                </td>
                                <td width="104">
                                    <p>0054/0074</p>
                                </td>
                                <td width="170">
                                    <p>Til oldi, portlovchi, jarangsiz, sof undosh</p>
                                </td>
                                <td width="121">
                                    <p>Тайту (гаранг)</p>
                                    <p>taytu</p>
                                    <p>t&auml;jtu</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="54">
                                    <p>26.&nbsp; &nbsp;</p>
                                </td>
                                <td width="66">
                                    <p>В в</p>
                                </td>
                                <td width="66">
                                    <p>V v</p>
                                </td>
                                <td width="57">
                                    <p>V v</p>
                                </td>
                                <td width="104">
                                    <p>0056/0076</p>
                                </td>
                                <td width="170">
                                    <p>Lab-tish, sirg&rsquo;aluvchi, jarangli, ovozdor, sof undosh</p>
                                </td>
                                <td width="121">
                                    <p>васса</p>
                                    <p>vassa</p>
                                    <p>v&auml;ss&auml;</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="54">
                                    <p>27.&nbsp; &nbsp;</p>
                                </td>
                                <td width="66">
                                    <p>Х х</p>
                                </td>
                                <td width="66">
                                    <p>X x</p>
                                </td>
                                <td width="57">
                                    <p>X x</p>
                                </td>
                                <td width="104">
                                    <p>0058/0078</p>
                                </td>
                                <td width="170">
                                    <p>Chuqur til orqa, sirg&rsquo;aluvchi, jarangsiz, sof undosh</p>
                                </td>
                                <td width="121">
                                    <p>хасмол (тирноқ яраси)</p>
                                    <p>xasmol</p>
                                    <p>xasmal</p>
                                    <p>&nbsp;</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="54">
                                    <p>28.&nbsp; &nbsp;</p>
                                </td>
                                <td width="66">
                                    <p>З з</p>
                                </td>
                                <td width="66">
                                    <p>Z z</p>
                                </td>
                                <td width="57">
                                    <p>Z z</p>
                                </td>
                                <td width="104">
                                    <p>005A/007A</p>
                                </td>
                                <td width="170">
                                    <p>Til oldi, sirg&rsquo;aluvchi, jarangsiz, sof undosh</p>
                                </td>
                                <td width="121">
                                    <p>зовур</p>
                                    <p>zovur</p>
                                    <p>z&auml;bir</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="54">
                                    <p>29.&nbsp; &nbsp;</p>
                                </td>
                                <td width="66">
                                    <p>Ғ ғ</p>
                                </td>
                                <td width="66">
                                    <p>G&rsquo; g&rsquo;</p>
                                </td>
                                <td width="57">
                                    <p>&nbsp;&gamma; &gamma;</p>
                                </td>
                                <td width="104">
                                    <p>03B3/03B3</p>
                                </td>
                                <td width="170">
                                    <p>Chuqur til orqa, sirg&rsquo;aluvchi, jarangli, sof undosh</p>
                                </td>
                                <td width="121">
                                    <p>daraxt</p>
                                    <p>yog&rsquo;och</p>
                                    <p>jā&gamma;āč</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="54">
                                    <p>30.&nbsp; &nbsp;</p>
                                </td>
                                <td width="66">
                                    <p>Ш ш</p>
                                </td>
                                <td width="66">
                                    <p>Sh sh</p>
                                </td>
                                <td width="57">
                                    <p>&Scaron; &scaron;</p>
                                </td>
                                <td width="104">
                                    <p>0160/0161</p>
                                </td>
                                <td width="170">
                                    <p>&nbsp;Til oldi, sirg&rsquo;aluvchi, jarangsiz, sof undosh</p>
                                </td>
                                <td width="121">
                                    <p>шўх</p>
                                    <p>sho&rsquo;x</p>
                                    <p>&scaron;&auml;l&auml;jim</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="54">
                                    <p>31.&nbsp; &nbsp;</p>
                                </td>
                                <td width="66">
                                    <p>Ч ч</p>
                                </td>
                                <td width="66">
                                    <p>Ch ch</p>
                                </td>
                                <td width="57">
                                    <p>Č č</p>
                                </td>
                                <td width="104">
                                    <p>010C/010D</p>
                                </td>
                                <td width="170">
                                    <p>Til oldi, qorishiq, jarangsiz</p>
                                </td>
                                <td width="121">
                                    <p>чақимчи</p>
                                    <p>chaqimchi</p>
                                    <p>č&uuml;&gamma;&uuml;lči</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="54">
                                    <p>32.&nbsp; &nbsp;</p>
                                </td>
                                <td width="66">
                                    <p>Й й</p>
                                </td>
                                <td width="66">
                                    <p>Y y</p>
                                </td>
                                <td width="57">
                                    <p>J j</p>
                                </td>
                                <td width="104">
                                    <p>004A/006A</p>
                                </td>
                                <td width="170">
                                    <p>&nbsp;Til oldi, sirg&rsquo;aluvchi, jarangli, sof undosh</p>
                                </td>
                                <td width="121">
                                    <p>Отин ойи</p>
                                    <p>otin oyi</p>
                                    <p>ātȉnājȉ</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="54">
                                    <p>33.&nbsp; &nbsp;</p>
                                </td>
                                <td width="66">
                                    <p>Нг нг</p>
                                </td>
                                <td width="66">
                                    <p>Ng ng</p>
                                </td>
                                <td width="57">
                                    <p>Ŋŋ</p>
                                </td>
                                <td width="104">
                                    <p>014A/014B</p>
                                </td>
                                <td width="170">
                                    <p>Til orqa, portlovchi, jarangli, sof undosh</p>
                                </td>
                                <td width="121">
                                    <p>манглай</p>
                                    <p>manglay</p>
                                    <p>m&auml;ŋl&auml;j</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="54">
                                    <p>34.&nbsp; &nbsp;</p>
                                </td>
                                <td width="66">
                                    <p>Ж ж</p>
                                </td>
                                <td width="66">
                                    <p>J j</p>
                                </td>
                                <td width="57">
                                    <p>Žž</p>
                                </td>
                                <td width="104">
                                    <p>017D/017E</p>
                                </td>
                                <td width="170">
                                    <p>&nbsp;Til oldi, portlovchi, jarangli, sof undosh</p>
                                </td>
                                <td width="121">
                                    <p>югурдак</p>
                                    <p>yugurdak</p>
                                    <p>ž&ouml;kk&auml;rči</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p>&nbsp;Professor Gozi Olim Boysun hudidida yashovchi aholining shevasi haqida fikr yuritar ekan, Qarshi, Kitob, Kattaqorgon, Shahrisabz Guzor kabi shahar va qishloqlarda istiqomat qiluvchi etnik xalqlar orasida sanab otib, ularning tojik, arab, afgon va qarlug qabilasining bugungi jonli shevada sozlashini aytadi. Ammo aynan qanday belgilar asosida qarluq shevasiga daxldor ekanligini etibor qaratmaydi. Prof. S.Rahimov Surxondaryo aholisining kopchilik qismi qipchoq lahjasi vakillari ekanligi haqidagi fikrning togriligini korsatib otishini takidlaydi. Biz esa Boysun hududining Xojabulgon, Munchoq, Xomkon, Qoshshatut, ,Ortaboz, Jarqishloq, Pudina, Ajrim, Pitov, Fotimabuloq, Kofirin, Besherkak, Todi, Pulhokim, Padang, Inkabod, Omonxona, Boshrabot (ilgari Rabot deyilgan, hozirda shahar tipidagi qishloq) kabi shahardan uzoqroq masofadagi qishloq aholisining &ldquo;j&rdquo;lovchi sheva vakillari ekanligini aytib otishimiz joiz. Shundan kelib on [ ͮ &ouml;n] ͮ - 036E-yunikodli shaklda berishni lozim topdik.</p>
                    <p style="text-align: center;">XULOSA</p>
                    <p>Yuqoridagi fikrlardan xulosamiz shuki:</p>
                    <p>- transkriptlar ozbek dialekti korpusining oziga xos alohidaligini taminlovchi vositadir;</p>
                    <p>- ozbek dialekti korpusida transkripsiya orqali qidiruvning yagona tizimini ishlab chiqish, yani kompyuter tanishi mumkin bolgan lotin belgilarining shakl jihatdan oxshash bolgan belgilar bilan emas, qabul qilingan yunikod orqali bazani shakllantirish va qidiruv sistemasini joriy etish;</p>
                    <p>- ozbek dialekti korpusini yaratishda badiiy asarlarda berilgan sheva elementlari mavjud bolgan matnlar transliteratsiya holida berilishi lozim;</p>
                    <p>&nbsp;- ozbek dialekti korpusida audio va video fayllarning transkripsiya orqali qidiruvning yagona tizimini ishlab chiqish.</p>
                    <p>-transkripsiya ozbek milliy shevalar korpusinining shakllanishi va rivojlantirishininf ajralmas qismidir .</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p><a href="#_ftnref1" name="_ftn1">[1]</a> Jamolxonov N. Hozirgi o&rsquo;zbek adabiy tili. &ndash;T: 2005. 48-bet.</p>
                    <p><a href="#_ftnref2" name="_ftn2">[2]</a> S.Ashirboyev. O&rsquo;zbek dialektologiyasi. 2016. 21-bet.</p>
                </article>
            </div>
        </section>

        <!-- Footer -->
        <section id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-4 col-6-medium col-12-small">
                        <section>
                            <header>
                                <h2>Foydali havolalar</h2>
                            </header>
                            <ul class="divided">
                                <li><a target="_blank" href="https://edu.uz/uz">O`zbekiston Respublikasi Oliy va o`rta maxsus ta`lim vazirligi</a></li>
                                <li><a target="_blank" href="http://tersu.uz/">Termiz Davlat Universiteti</a></li>
                                <li><a target="_blank" href="http://uzswlu.uz/">O`zbekiston Davlat Jahon Tillari Universiteti</a></li>
                                <li><a target="_blank" href="https://navoiy-uni.uz/">Toshkent davlat o‘zbek tili va adabiyoti universiteti</a></li>
                                <li><a target="_blank" href="https://tsuos.uz/ru/">Toshkent davlat sharqshunoslik universiteti</a></li>

                            </ul>
                        </section>
                    </div>
                    <div class="col-4 col-6-medium col-12-small">
                        <section>
                            <header>
                                <h2>Foydali havolalar</h2>
                            </header>
                            <ul class="divided">
                                <li><a target="_blank" href="https://idioms.uz">O'zbek Milliy korpusida idiomalar bazasi</a></li>
                                <li><a target="_blank" href="https://saviya.uz/">Saviya.uz - Adabiyot. Hayot. Kamolot</a></li>
                                <li><a target="_blank" href="http://ziyonet.uz/">ZiyoNET ta'lim portali</a></li>
                                <li><a target="_blank" href="https://fledu.uz/">O‘zbekistonda xorijiy tillar onlayn jurnali</a></li>
                                <li><a target="_blank" href="https://ulugov.uz">TAS-IX saytlari ro'yxati</a></li>
                            </ul>
                        </section>
                    </div>
                    <div class="col-4 col-12-medium">
                        <section>
                            <header>
                                <h2>Muallif maqolalari</h2>
                            </header>
                            <ul class="divided">
                                <li>
                                    <a target="_blank" href="https://scholar.google.com/citations?user=AKN8_B8AAAAJ&hl=ru#d=gs_md_cita-d&u=%2Fcitations%3Fview_op%3Dview_citation%26hl%3Dru%26user%3DAKN8_B8AAAAJ%26citation_for_view%3DAKN8_B8AAAAJ%3AhqOjcs7Dif8C%26tzom%3D-300">
                                        Peech Genres Of Texsts And Passport MeteMetrics In The Dialect Corpus(Baysun District On The Example Of The Sound “J” Dialects)
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://scholar.google.com/citations?user=AKN8_B8AAAAJ&hl=ru#d=gs_md_cita-d&u=%2Fcitations%3Fview_op%3Dview_citation%26hl%3Dru%26user%3DAKN8_B8AAAAJ%26citation_for_view%3DAKN8_B8AAAAJ%3A_FxGoFyzp5QC%26tzom%3D-300">
                                        TRANSCRIPTION IN THE CORPUS OF THE UZBEK NATIONAL BOYSUN DIALECT (On the example of Baysun District “J” Dialects)
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://scholar.google.com/citations?user=AKN8_B8AAAAJ&hl=ru#d=gs_md_cita-d&u=%2Fcitations%3Fview_op%3Dview_citation%26hl%3Dru%26user%3DAKN8_B8AAAAJ%26citation_for_view%3DAKN8_B8AAAAJ%3AUebtZRa9Y70C%26tzom%3D-300">
                                        EXPRESSION OF SITUATIONAL VERBS RELATED TO BOYSUN DIALECT IN THE UZBEK NATIONAL CORPS. (USING THE LETTER "J" IN THE DIALECT OF BOYSUN DISTRICT AS AN EXAMPLE)
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://scholar.google.com/citations?user=AKN8_B8AAAAJ&hl=ru">
                                        Boshqa maqolalar
                                    </a>
                                </li>
                            </ul>
                        </section>
                    </div>
                    <div class="col-12">

                        <!-- Copyright -->
                        <div id="copyright">
                            <ul class="links">
                                <li>&copy; Muyassar Xolova. All rights reserved.</li>
                                <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </section>

    </div>


</body>
</html>
