@import url('site.css');
html {
  font-size: 14px;
}

body {
    min-height: 100vh;
    width: 100vw;
    margin: 0!important;
    padding: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    overflow-x: hidden;
}

.backg{
    background-image:url(../images/overlay_backround.jpg);
}


form {
    margin-bottom: 20px;
}

select {
    margin-right: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    word-wrap: break-word; 
    max-width: 100px; 
}

th {
    background-color: #f2f2f2;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination a {
    margin: 0 5px;
 }
banner {
    padding: 6em 0;
    margin: 3em 0 0 0;
}
#banner {
    height: 400px;
    background: url(../images/dialect.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    margin-bottom:50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#banner header {
    background-color: rgba(34, 30, 31, 0.98);
    display: inline-block;
    padding: 2em 4em;
    border-radius: 5px;
}

#banner header h2 {
    color: #fff;
    font-weight: 700;
    font-size: 2em;
    margin: 0 0 0.65em 0;
}

    #banner header p {
        color: #d52349;
        padding: 0;
        font-style: normal;
        margin: 0;
        font-size: 1em;
    }

#introo .button {
    min-width: 12em;
}

@media screen and (max-width: 790px) {
    #banner header{
        padding: 1rem inherit;
    }
    .cards {
        display: flex;
        flex-direction: column;
    }
     .cards > .col-4 {
         width: 100%!important;
     }
}

.actions {
    padding-left: 0;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.actions li{
    list-style-type: none;
}

    .actions li :hover {
        background: #ec6d88;
        box-shadow: 2px 2px 4px rgba(255, 0, 0, 0.5);
    }


input[type=button].large, input[type=submit].large, input[type=reset].large, button.large, .button.large {
    font-size: 100%;
    padding: 0.75em 1.5em 0.75em 1.5em;
}

input[type=submit], input[type=reset], button, .button {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    background: #d52349;
    color: #fff !important;
    font-weight: 700;
    outline: 0;
    font-size: 1.1em;
    padding: 0.65em 1.5em 0.65em 1.5em;
    text-align: center;
    transition: background-color .25s ease-in-out;
}



.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}


.table-container {
    width: 100%;
    overflow-x: auto;
}

footer{
    background-color:#323030;
    padding:50px;

}

footer li {
    list-style-type: none;
}

footer h2{
    color:white;
}

.first {
    text-align: center;
    padding: 20px;
}

.middle {
    text-align: center;
    padding: 20px;
    box-shadow:0 -32px 0 0 #fff, 0 32px 0 0 #fff, 0 0 32px 0 rgba(0, 0, 0, 0.3);

}

.last{
    text-align:center;
    padding:20px;
}

element.style {
    width: 100%;
    height: auto;
}

.form-row > .col, .form-row > [class*=col-] {
    padding-bottom: 5px;
    padding-left: 5px;
}

#main {
    padding: 50px 0;
    background: black;
}

.box {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

    .box header {
        text-align: center;
        margin-bottom: 20px;
    }

    .box p {
        line-height: 1.6;
    }

/* Container styles */
.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0px;
    padding-top: 10px;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 2px;
}

.containerr {
    max-width: 960px;
    margin: 0 auto;
    padding: 0px;
    padding-top: 10px;
}

.containerr-fluid {
    padding-left: 0px;
    padding-right: 2px;
}

table.dataTable thead .sorting:after {
    opacity: 0.2;
    content: "\e150";
}

/* Table */

.table-wrapper {
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
}

table {
    margin: 0 0 2rem 0;
    width: 100%;
}

    table tbody tr {
        border: solid 1px;
        border-left: 0;
        border-right: 0;
    }

    table td {
        padding: 0.75rem 0.75rem;
    }

    table th {
        font-family: "Source Sans Pro", Helvetica, sans-serif;
        font-size: 0.6rem;
        font-weight: 900;
        letter-spacing: 0.075em;
        line-height: 1.5;
        padding: 0 0.75rem 0.75rem 0.75rem;
        text-align: left;
        text-transform: uppercase;
    }

@media screen and (max-width: 980px) {

    table th {
        font-size: 0.9rem;
    }
}

table thead {
    border-bottom: solid 2px;
}

table tfoot {
    border-top: solid 2px;
}

table.alt {
    border-collapse: separate;
}

    table.alt tbody tr td {
        border: solid 1px;
        border-left-width: 0;
        border-top-width: 0;
    }

        table.alt tbody tr td:first-child {
            border-left-width: 1px;
        }

    table.alt tbody tr:first-child td {
        border-top-width: 1px;
    }

    table.alt thead {
        border-bottom: 0;
    }

    table.alt tfoot {
        border-top: 0;
    }

table tbody tr {
    border-color: #eeeeee;
}

    table tbody tr:nth-child(2n + 1) {
        background-color: rgba(220, 220, 220, 0.25);
    }

table th {
    color: #212931;
}

table thead {
    border-bottom-color: #eeeeee;
    font-size: 10px;
}

table tfoot {
    border-top-color: #eeeeee;
}

table.alt tbody tr td {
    border-color: #eeeeee;
}

.sort-btn {
    background: none;
    border: none;
    font-size: 14px;
    cursor: pointer;
}

.turkum {
    width: 10%;
}
.Ozlashgan {
    width: 11%;
}

/* Nav */

#nav {
    color: #ffffff;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-transition: -moz-transform 1s ease, opacity 1s ease;
    -webkit-transition: -webkit-transform 1s ease, opacity 1s ease;
    -ms-transition: -ms-transform 1s ease, opacity 1s ease;
    transition: transform 1s ease, opacity 1s ease;
    background: rgba(255, 255, 255, 0.175);
    height: 4rem;
    line-height: 4rem;
    margin: -4rem auto 0 auto;
    overflow: hidden;
    padding: 0 2rem 0 0;
    position: relative;
    width: calc(100% - 4rem);
    max-width: 92.8rem;
    z-index: 2;
}

    #nav ul.divided li {
        border-top-color: #ffffff;
    }

    #nav ul.icons li a.icon:hover:before {
        color: #18bfef;
    }

    #nav ul.icons.alt li .icon:before {
        box-shadow: inset 0 0 0 2px #ffffff;
    }

    #nav ul.icons.alt li a.icon:hover:before {
        box-shadow: inset 0 0 0 2px #18bfef;
    }

    #nav input, #nav select, #nav textarea {
        color: #ffffff;
    }

    #nav a {
        color: #ffffff;
        border-bottom-color: rgba(255, 255, 255, 0.5);
    }

        #nav a:hover {
            border-bottom-color: transparent;
            color: #18bfef !important;
        }

    #nav strong, #nav b {
        color: #ffffff;
    }

    #nav h1, #nav h2, #nav h3, #nav h4, #nav h5, #nav h6 {
        color: #ffffff;
    }

    #nav blockquote {
        border-left-color: #ffffff;
    }

    #nav code {
        background: rgba(255, 255, 255, 0.075);
        border-color: #ffffff;
    }

    #nav hr {
        border-bottom-color: #ffffff;
    }

    #nav ul.links {
        display: -moz-flex;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        -moz-flex-grow: 1;
        -webkit-flex-grow: 1;
        -ms-flex-grow: 1;
        flex-grow: 1;
        -moz-flex-shrink: 1;
        -webkit-flex-shrink: 1;
        -ms-flex-shrink: 1;
        flex-shrink: 1;
        font-family: "Source Sans Pro", Helvetica, sans-serif;
        font-weight: 900;
        letter-spacing: 0.075em;
        list-style: none;
        margin-bottom: 0;
        padding-left: 0;
        text-transform: uppercase;
    }

        #nav ul.links li {
            display: block;
            padding-left: 0;
        }

            #nav ul.links li a {
                -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
                -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
                -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
                transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
                display: block;
                font-size: 0.8rem;
                outline: none;
                padding: 0 2rem;
            }

                #nav ul.links li a:hover {
                    color: inherit !important;
                    background-color: rgba(255, 255, 255, 0.1);
                }

            .active {
                background-color: #fff;
            }

                .active a {
                    color: #1e252d;
                }

                    .active {
                        color: #18bfef !important;
                    }

    #nav ul.icons {
        -moz-flex-grow: 0;
        -webkit-flex-grow: 0;
        -ms-flex-grow: 0;
        flex-grow: 0;
        -moz-flex-shrink: 0;
        -webkit-flex-shrink: 0;
        -ms-flex-shrink: 0;
        flex-shrink: 0;
        margin-bottom: 0;
    }

@media screen and (max-width: 980px) {

    #nav {
        display: none;
    }
}



/* Wrapper */

#wrapper {
    -moz-transition: opacity 0.5s ease;
    -webkit-transition: opacity 0.5s ease;
    -ms-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

    #wrapper > .bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #212931;
        background-image: url("../../images/overlay4.png"), linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../../images/bg.jpg");
        background-size: auto, auto, 100% auto;
        background-position: center, center, top center;
        background-repeat: repeat, no-repeat, no-repeat;
        background-attachment: scroll, scroll, scroll;
        z-index: -1;
    }

        #wrapper > .bg.fixed {
            position: fixed;
            width: 100vw;
            height: 100vh;
        }

    #wrapper.fade-in:before {
        pointer-events: none;
        -moz-transition: opacity 1s ease-in-out;
        -webkit-transition: opacity 1s ease-in-out;
        -ms-transition: opacity 1s ease-in-out;
        transition: opacity 1s ease-in-out;
        -moz-transition-delay: 0.75s;
        -webkit-transition-delay: 0.75s;
        -ms-transition-delay: 0.75s;
        transition-delay: 0.75s;
        background: #1e252d;
        content: '';
        display: block;
        height: 100%;
        left: 0;
        opacity: 0;
        position: fixed;
        top: 0;
        width: 100%;
    }

body.is-preload #wrapper.fade-in:before {
    opacity: 1;
}

@media screen and (orientation: portrait) {

    #wrapper > .bg {
        background-size: auto, auto, auto 175%;
    }
}

/* Intro large */

#intro {
    color: #ffffff;
    padding: 8rem 4rem 6rem 4rem;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-justify-content: -moz-flex-end;
    -webkit-justify-content: -webkit-flex-end;
    -ms-justify-content: -ms-flex-end;
    justify-content: flex-end;
    -moz-transition: opacity 1s ease, -moz-transform 1s ease;
    -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
    -ms-transition: opacity 1s ease, -ms-transform 1s ease;
    transition: opacity 1s ease, transform 1s ease;
    position: relative;
    cursor: default;
    text-align: center;
    z-index: 1;
    min-height: 100vh;
}

    #intro input, #intro select, #intro textarea {
        color: #ffffff;
    }

    #intro a {
        color: #ffffff;
        border-bottom-color: rgba(255, 255, 255, 0.5);
    }

        #intro a:hover {
            border-bottom-color: transparent;
            color: #18bfef !important;
        }

    #intro strong, #intro b {
        color: #ffffff;
    }

    #intro h1, #intro h2, #intro h3, #intro h4, #intro h5, #intro h6 {
        color: #ffffff;
    }

    #intro blockquote {
        border-left-color: #ffffff;
    }

    #intro code {
        background: rgba(255, 255, 255, 0.075);
        border-color: #ffffff;
    }

    #intro hr {
        border-bottom-color: #ffffff;
    }

    #intro input[type="submit"],
    #intro input[type="reset"],
    #intro .button {
        background-color: transparent;
        box-shadow: inset 0 0 0 2px #ffffff;
        color: #ffffff !important;
    }

        #intro input[type="submit"]:hover,
        #intro input[type="reset"]:hover,
        #intro input[type="button"]:hover,
        #intro button:hover,
        #intro .button:hover {
            box-shadow: inset 0 0 0 2px #18bfef;
            color: #18bfef !important;
        }

        #intro input[type="submit"].primary,
        #intro input[type="reset"].primary,
        #intro input[type="button"].primary,
        #intro button.primary,
        #intro .button.primary {
            background-color: #ffffff;
            box-shadow: none;
            color: #1e252d !important;
        }

            #intro input[type="submit"].primary:hover,
            #intro input[type="reset"].primary:hover,
            #intro input[type="button"].primary:hover,
            #intro button.primary:hover,
            #intro .button.primary:hover {
                background-color: #18bfef;
            }

    #intro h1 {
        font-size: 5rem;
        line-height: 1;
    }

    #intro p {
        font-size: 1.25rem;
        font-style: italic;
        margin-top: -0.25rem;
        text-align: center;
    }

    #intro + #header {
        margin-top: -20rem;
    }

        #intro + #header .logo {
            -moz-transform: translateY(2rem);
            -webkit-transform: translateY(2rem);
            -ms-transform: translateY(2rem);
            transform: translateY(2rem);
            opacity: 0;
            visibility: hidden;
        }

    #intro.hidden {
        pointer-events: none;
        -moz-transform: translateY(2rem);
        -webkit-transform: translateY(2rem);
        -ms-transform: translateY(2rem);
        transform: translateY(2rem);
        -moz-transition: opacity 0.5s ease, -moz-transform 0.5s ease, visibility 0.5s;
        -webkit-transition: opacity 0.5s ease, -webkit-transform 0.5s ease, visibility 0.5s;
        -ms-transition: opacity 0.5s ease, -ms-transform 0.5s ease, visibility 0.5s;
        transition: opacity 0.5s ease, transform 0.5s ease, visibility 0.5s;
        opacity: 0;
        visibility: hidden;
    }

        #intro.hidden + #header .logo {
            -moz-transform: translateY(0);
            -webkit-transform: translateY(0);
            -ms-transform: translateY(0);
            transform: translateY(0);
            opacity: 1;
            visibility: visible;
        }

body.is-preload #intro {
    -moz-transform: translateY(2rem);
    -webkit-transform: translateY(2rem);
    -ms-transform: translateY(2rem);
    transform: translateY(2rem);
    opacity: 0;
}

    body.is-preload #intro:not(.hidden) + #header + #nav {
        -moz-transform: translateY(4rem);
        -webkit-transform: translateY(4rem);
        -ms-transform: translateY(4rem);
        transform: translateY(4rem);
        opacity: 0;
    }

@media screen and (max-width: 980px) {

    #intro {
        padding: 4rem 4rem 2rem 4rem;
        min-height: 90vh;
    }

        #intro p br {
            display: none;
        }

        #intro + #header {
            margin-top: -14rem;
        }
}

@media screen and (max-width: 736px) {

    #intro {
        padding: 3rem 2rem 1rem 2rem;
        min-height: 80vh;
    }

        #intro h1 {
            font-size: 3.25rem;
            line-height: 1.1;
            margin-bottom: 1rem;
        }

        #intro p {
            font-size: 1rem;
            margin-top: 0rem;
        }

        #intro .actions {
            display: none;
        }
}

/* Header */

#header {
    color: #ffffff;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-justify-content: -moz-flex-end;
    -webkit-justify-content: -webkit-flex-end;
    -ms-justify-content: -ms-flex-end;
    justify-content: flex-end;
    pointer-events: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 20rem;
    padding-bottom: 8rem;
    position: relative;
    text-align: center;
    z-index: 2;
}

    #header input, #header select, #header textarea {
        color: #ffffff;
    }

    #header a {
        color: #ffffff;
        border-bottom-color: rgba(255, 255, 255, 0.5);
    }

        #header a:hover {
            border-bottom-color: transparent;
            color: #18bfef !important;
        }

    #header strong, #header b {
        color: #ffffff;
    }

    #header h1, #header h2, #header h3, #header h4, #header h5, #header h6 {
        color: #ffffff;
    }

    #header blockquote {
        border-left-color: #ffffff;
    }

    #header code {
        background: rgba(255, 255, 255, 0.075);
        border-color: #ffffff;
    }

    #header hr {
        border-bottom-color: #ffffff;
    }

    #header .logo {
        -moz-transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.5s ease, -moz-transform 0.5s ease, visibility 0.5s;
        -webkit-transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.5s ease, -webkit-transform 0.5s ease, visibility 0.5s;
        -ms-transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.5s ease, -ms-transform 0.5s ease, visibility 0.5s;
        transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.5s ease, transform 0.5s ease, visibility 0.5s;
        pointer-events: auto;
        border-style: solid;
        border-color: #ffffff;
        border-width: 5px !important;
        font-family: "Source Sans Pro", Helvetica, sans-serif;
        font-size: 2.25rem;
        font-weight: 900;
        letter-spacing: 0.075em;
        line-height: 1;
        padding: 1rem 1.75rem;
        text-transform: uppercase;
        visibility: visible;
    }

        #header .logo:hover {
            border-color: #18bfef !important;
            color: #18bfef !important;
        }

@media screen and (max-width: 980px) {

    #header {
        height: 14rem;
        padding-bottom: 4rem;
    }
}

@media screen and (max-width: 736px) {

    #header {
        padding-bottom: 3rem;
    }

        #header .logo {
            font-size: 1.75rem;
            border-width: 3px !important;
        }
}

.col-md-12 {
    flex: 0 0 auto;
    width: 100%;
    justify-content: center;
}

#navPanelToggle:before {
    content: '\f0c9';
    margin-right: 0.5rem;
}

#navPanelToggle:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    text-transform: none !important;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

*, *:before, *:after {
    box-sizing: inherit;
}

#wrapper > .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #212931;
    background-image: url(../../images/overlay4.png), linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../../images/bg.jpg);
    background-size: auto, auto, 100% auto;
    background-position: center, center, top center;
    background-repeat: repeat, no-repeat, no-repeat;
    background-attachment: scroll, scroll, scroll;
    z-index: -1;
}

